[submodule "NeteaseCloudMusicApi"]
	path = NeteaseCloudMusicApi
	url = https://github.com/Binaryify/NeteaseCloudMusicApi.git
[submodule "QQMusicApi"]
	path = QQMusicApi
	url = https://github.com/jsososo/QQMusicApi.git
[submodule "MiguMusicApi"]
	path = MiguMusicApi
	url = https://github.com/jsososo/MiguMusicApi.git
